.fntSize{
    font-size: 10px;
}

.case{
    border-width: thin;
    border-color: #0070f3;
    border-radius: 6px;
}

.status{
    align-content: flex-end;
}

.filterSection{
    border-width: thin;
    border-color: #0070f3;
    border-radius: 6px;
    margin-top: 1rem;
    bottom: 0px;
}

.badge{
    padding-top: 0.5rem;
    display: flex;
}